@use './helpers' as *;

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.fc-soft {
	color: var(--font-color-soft);
}
.fc-hard {
	color: var(--font-color-hard);
}


.fz-1 {
	font-size: var(--font-size-1);
}
.fz-2 {
	font-size: var(--font-size-2);
}
.fz-3 {
	font-size: var(--font-size-3);
}
.fz-4 {
	font-size: var(--font-size-4);
}
.fz-5 {
	font-size: var(--font-size-5);
}

