@use './helpers' as *;

:root {
	--container-width: 1600px;
	--container-padding-x: 16px;

	--font-size-3: 16px;
	--font-size-4: 24px;
	--font-size-5: 28px;

	--border-radius-m: 9px;

	--header-height: 60px;

	--border-weight-soft: 1px;
	--border-weight-hard: 2px;

	--button-height-s: 40px;
	--button-padding-inline-s: 15px;

	--outline-offset: calc(var(--border-weight-soft) * -1);

	--backdrop-bg-color: hsla(0, 0, 0, 0.5);

	// Colors
	--color-dark: #141414;
	--color-light: #fff;

	--font-color-hard: var(--color-light);
	--font-color-soft: var(--color-grey-500);

	--grey-hue: 262;
	--grey-saturation: 33%;
	--grey-lightness: 35%;
	--color-grey-900: #212121;	// bg dark theme
	--color-grey-800: #424242; // border dark theme
	--color-grey-500: #9e9e9e; // main dark theme
	--color-grey-opacity-soft: hsla(
		var(--grey-hue),
		var(--grey-saturation),
		var(--grey-lightness),
		0.1
	); // hover
}
