.app {
    height: 100vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    border-bottom: var(--border-weight-soft) solid var(--color-grey-800);
    h1 {
        font-size: var(--font-size-5);
        margin: 0px;
        text-align: center;
    }
}
